<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand mb-0 h1" routerLink='/home'>长城</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink='/home' routerLinkActive='active'>Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink='/categories' routerLinkActive='active'>类别</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid layout-router-outlet">
    <router-outlet></router-outlet>
  </div>

  <footer class="container-fluid layout-footer">
      <div class="row">
        <div class="col-md-3">Contact Us: xxx.xxx@xx.comm</div>
        <div class="col-md-3">Tel: 123-123-123</div>
      </div>
  </footer>